.tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip-content {
    visibility: hidden;
    width: 220px;
    background-color: #007bff; /* Синий фон подсказки */
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Позиция над элементом */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .tooltip-container:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
  }
  