.Accordion {
    background-color: NOne;
    border-radius: 4px;
    margin: 10px 0;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    
}

.AccordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: white;
    cursor: pointer;
    user-select: none;
    font-weight: 900;
}

.AccordionHeader h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.AccordionHeader span {
    font-size: 20px;
    font-weight: bold;
}

.AccordionContent {
    padding: 10px 15px;
    background-color: #fff;
    border: none;
}
